body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42em;
  background: #17191a;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  height: 100%;
}
a {
  color: inherit;
}
p {
  margin-top: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
.container {
  margin: 0 auto;
  width: 1140px;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}
img {
  display: block;
  max-width: 100%;
}