.menu {
  margin-top: 15px;
  display: flex;
  cursor: pointer;
  }

  .menu__item {
    display: inline-block;
    margin-right: 50px;
  }
  .menu__item_active {
    color: #ff5400
  }
  .menu__item:last-child {
    margin-right: 0px;
  }
  .menu__title {
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.8px;
  }
  .menu__title:hover {
    color: #ff5400;
  }