.partners {
  background: #f4f5f5;
}
.partners__container {
  display: flex;
  flex-direction: column;
  width: 1140px;
  margin: 0 auto;

}
.partners__header {
  color: #1a1b1e;
  font-size: 48px;
  font-weight: 700;
  padding-top: 97px;
  margin-bottom: 45px;
}
.partners__list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 125px;
}
.partners__item {
  width: 285px;
  max-height: 45px;
  margin-top: 50px;
  text-align: center;
}
.partners__item:nth-child(4n) {
  text-align: right
}
.partners__item:nth-child(4n+1) {
  text-align: left
}