.partners {
  background: #f4f5f5;
  padding-top: opx;
  padding-bottom: 82px;
}
.partners__container {
  display: flex;
  flex-direction: column;
  width: 1140px;
  margin: 0 auto;

}
.partners__header {
  color: #1a1b1e;
  font-size: 48px;
  font-weight: 700;
  padding-top: 105px;
  margin-bottom: 45px;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
}
.partners__item {
  margin-top: 28px;
  width: 285px;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.partners__item:hover {
  filter: grayscale(100%)
}
.partners__item:nth-child(4n + 1) {
  margin-left: 0;
  text-align: left;
  justify-content: flex-start;
}
.partners__item:nth-child(4n) {
  margin-left: 0;
  text-align: left;
  justify-content: flex-end;
}

.partners__link {
  text-decoration: none;
  display: inline-block;
  text-align: center  width: 100%;
}