.welcome-wrapper {
  background: url(./../../assets/images/bg/frame.png) center center no-repeat, url(./../../assets/images/bg/bottom-pic.jpg) center top no-repeat, url(./../../assets/images/bg/frame.png) center center no-repeat;
}
.welcome {
margin: auto;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
animation: welcome .9s linear;
animation-fill-mode: forwards;
}
@keyframes welcome {
  0%
  {
    opacity: 0;
    transform: scale(.1) rotate(30deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    scale(1)
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.welcome__pic {
  width: 508px;
  height: 117px;
  margin-top: 20px;
  margin-bottom: 50px;
  opacity: 1;
}